

img {
    position: fixed;
    right: 60vw;
    width: 30vw;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #010718;
    overflow: auto;
}

.container {
    position: absolute;
    max-width: 100%;
    width: auto;
    overflow: hidden;
    top: 5vw;
    right: 17vw;
    font-weight: 100;
}

.container .text {
    position: relative;
    color: #4070F4;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
}

.container .text.first-text {
    color: #FFF;
}

.text.sec-text {
    overflow: hidden;
    width: 0;
    transition: width 2s;
    font-family: myfont;
}

.container:hover .text.sec-text {
    width: auto;
}

.text.sec-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #010718;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%, 60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}


@media screen and (min-width: 768px) {
    .container .text {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .container .text {
        font-size: 40px;
    }
}
#information{
    position: absolute;
    color: white;
    left: 50vw;
    right: 5vw;
    font-size:18px;
    top: 200px;
}
#information h2{
    margin-bottom: 20px;
    position: relative;
}
#content{
    position: relative;
}
@media screen and (max-width: 767px) {
    img {
        position: static; /* Resetting the position to default */
        width: 80%; /* Adjust the width as per your preference */
        margin: 20px auto; /* Center the image and provide some margin */
        display: block; /* Ensuring the image is displayed as a block element */
    }

    .container {
        position: static; /* Resetting the position to default */
        max-width: 100%;
        width: auto;
        margin-top: 20px; /* Providing some margin from the top for the text */
        text-align: center; /* Center aligning the text */
    }

    #information {
        position: static; /* Resetting the position to default */
        text-align: center; /* Center aligning the text */
        margin-top: 20px; /* Providing some margin from the top */
    }
}
.icon{
    display: flex;
    font-size: 50px;
    gap: 250px;
}
